/.metadata/
/.recommenders/
/module08/out/
/*/out/
/*/.idea/
/*/build/
/module07_msanti16/build/
/module08_msanti16/
/module09_msanti16/.idea/
/module09_msanti16/out/
/module10_msanti16/.idea/
/module10_msanti16/out/
/threadservlet1/
/threadservlet2/
/threadservlet3/
/threads/


